Final Deliverables/Flows.json
[{"id":"17d65b6695af9309","type":"tab","label":"Child Safety Gadget","disabled":false,"info":"","env":[]},{"id":"ee3e34b6d639d979","type":"ibmiot in","z":"17d65b6695af9309","authentication":"apiKey","apiKey":"63d0c89133a32847","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"childlocation","applicationId":"","deviceType":"Child_Location","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":67.60000610351562,"y":59.400001525878906,"wires":[["2a16cad9069e787b"]]},{"id":"1af1bd8990586025","type":"debug","z":"17d65b6695af9309","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":484.6000061035156,"y":57.000003814697266,"wires":[]},{"id":"2a16cad9069e787b","type":"function","z":"17d65b6695af9309","name":"","func":"var name = 'SAV'\nvar lat = msg.payload.latitude\nvar lon = msg.payload .longitude\nglobal.set('latitude',lat)\nglobal.set('longitude',lon)\nglobal.set('name',name)\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":216.60000228881836,"y":59.000003814697266,"wires":[["148e7f1628ced498","1af1bd8990586025"]]},{"id":"148e7f1628ced498","type":"function","z":"17d65b6695af9309","name":"","func":"msg.payload={\n    'name': 'SAV',\n    'lat': msg.payload.latitude,\n    'lon': msg.payload.longitude\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":208.60000610351562,"y":137.00000190734863,"wires":[["13144e7df427e65d","8bf33eac23cb25f9"]]},{"id":"ee3df70f348f8f21","type":"function","z":"17d65b6695af9309","name":"","func":"msg.payload = msg.location.inarea\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":317.60000228881836,"y":327.80002212524414,"wires":[["5314cfae47e464fa","1360f156eeea5fd0"]]},{"id":"1360f156eeea5fd0","type":"switch","z":"17d65b6695af9309","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":313.60000228881836,"y":415.00004863739014,"wires":[["10a8e132a189623a"],["7fd9ee8387f7e3ab"]]},{"id":"7fd9ee8387f7e3ab","type":"function","z":"17d65b6695af9309","name":"","func":"var d = new Date();\nvar utc = d.getTime() + (d.getTimezoneOffset()*60000);\nvar offset = 5.49;\nnewDate = new Date(utc + (3600000*offset));\nmsg.payload = {\n    \"message\" : \"Exit\",\n    \"Time\" : newDate.toLocaleString(),\n    \"name\" : 'SAV',\n    \"status\" : \"School\",\n    'lat': global.get(\"latitude\"),\n    'lon': global.get(\"longitude\"),\n    \"nam\" : global.set('name'),\n    \"sts\" : global.set('status')\n};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"\n","finalize":"","libs":[],"x":567.6000022888184,"y":511.000057220459,"wires":[["7982bcc9dcd368ca","a5cc86dba4b4725d","07a6f2efe6f67255"]]},{"id":"7982bcc9dcd368ca","type":"debug","z":"17d65b6695af9309","name":"True OP","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":754.6000595092773,"y":557.0000448226929,"wires":[]},{"id":"13144e7df427e65d","type":"ui_worldmap","z":"17d65b6695af9309","group":"fe4024ee907de35b","order":0,"width":"0","height":"0","name":"CHILD LOCATION","lat":"","lon":"","zoom":"16","layer":"OSMG","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"true","panlock":"false","zoomlock":"true","hiderightclick":"false","coords":"none","showgrid":"false","showruler":"true","allowFileDrop":"true","path":"/worldmap","overlist":"DR,CO,RA,DN,BU,TL,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":493.60008239746094,"y":140.40001392364502,"wires":[]},{"id":"5ce947f449d77406","type":"geofence","z":"17d65b6695af9309","name":"School","mode":"circle","inside":"both","rad":4001.786630911072,"points":[],"centre":{"latitude":10.761304268865539,"longitude":78.64700317382812},"floor":"","ceiling":"","worldmap":false,"outputs":1,"x":304.6000747680664,"y":225.59999752044678,"wires":[["0af2575c33e21666"]]},{"id":"5314cfae47e464fa","type":"debug","z":"17d65b6695af9309","name":"TRUE / FALSE","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":752.0000305175781,"y":247.00000381469727,"wires":[]},{"id":"a5cc86dba4b4725d","type":"ui_toast","z":"17d65b6695af9309","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"className":"","topic":"CHILL !!! Child is in School","name":"School INSIDE MSG","x":776.0000076293945,"y":466.00000762939453,"wires":[[]]},{"id":"07a6f2efe6f67255","type":"cloudant out","z":"17d65b6695af9309","name":"","cloudant":"cc3cc78235661aa1","database":"child_location","service":"node-red-uwdqt-2022--cloudant-1666058759211-30859","payonly":true,"operation":"insert","x":760.0000076293945,"y":509.00000762939453,"wires":[]},{"id":"8bf33eac23cb25f9","type":"rbe","z":"17d65b6695af9309","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":98,"y":270.00000381469727,"wires":[["5ce947f449d77406"]]},{"id":"0af2575c33e21666","type":"rbe","z":"17d65b6695af9309","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":309.00000381469727,"y":275.99999809265137,"wires":[["ee3df70f348f8f21"]]},{"id":"e0c24cda7a9f9243","type":"geofence","z":"17d65b6695af9309","name":"Play Ground","mode":"circle","inside":"both","rad":1951.9750387517904,"points":[],"centre":{"latitude":10.956360095518255,"longitude":79.32403564453124},"floor":"","ceiling":"","worldmap":false,"outputs":1,"x":299.00000381469727,"y":650.0000824928284,"wires":[["b10ed1914feaa096"]]},{"id":"fb93151e9943237f","type":"function","z":"17d65b6695af9309","name":"","func":"msg.payload = msg.location.inarea\nreturn msg;\n//mela uladhu than actual luu\n\n// msg.payload={\n//     'name': global.get('name'),\n//     'lat': global.get('latitude'),\n//     'lon': global.get('longitude')\n// }\n\n// return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":297.00000381469727,"y":765.4000358581543,"wires":[["771d17b846c0d0de","ebb0cef68326e105"]]},{"id":"771d17b846c0d0de","type":"switch","z":"17d65b6695af9309","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":295.00000381469727,"y":832.6000366210938,"wires":[["54a29dc37bb0f38d"],["36ba38f2796948f6"]]},{"id":"36ba38f2796948f6","type":"function","z":"17d65b6695af9309","name":"","func":"var d = new Date();\nvar utc = d.getTime() + (d.getTimezoneOffset()*60000);\nvar offset = 5.49;\nnewDate = new Date(utc + (3600000*offset));\nmsg.payload = {\n    \"message\" : \"Exit\",\n    \"Time\" : newDate.toLocaleString(),\n    \"name\" : 'SAV',\n    \"status\" : \"Play Ground\",\n    'lat': global.get(\"latitude\"),\n    'lon': global.get(\"longitude\"),\n    \"nam\" : global.set('name'),\n    \"sts\" : global.set('status')\n};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"\n","finalize":"","libs":[],"x":591.0000076293945,"y":944.6000137329102,"wires":[["80ada0269c2c7057","87a3b736311037c4","b723968a3af75428"]]},{"id":"80ada0269c2c7057","type":"debug","z":"17d65b6695af9309","name":"True OP","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":789.000057220459,"y":983.6000137329102,"wires":[]},{"id":"87a3b736311037c4","type":"ui_toast","z":"17d65b6695af9309","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"className":"","topic":"CHILL !!! Child is in PlayGround","name":"School INSIDE MSG","x":801.4000091552734,"y":890.6000137329102,"wires":[[]]},{"id":"b723968a3af75428","type":"cloudant out","z":"17d65b6695af9309","name":"","cloudant":"cc3cc78235661aa1","database":"child_location","service":"node-red-uwdqt-2022--cloudant-1666058759211-30859","payonly":true,"operation":"insert","x":788.4000091552734,"y":941.6000137329102,"wires":[]},{"id":"b10ed1914feaa096","type":"rbe","z":"17d65b6695af9309","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":293.4000129699707,"y":701.6000347137451,"wires":[["fb93151e9943237f"]]},{"id":"ebb0cef68326e105","type":"debug","z":"17d65b6695af9309","name":"TRUE / FALSE","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":769.0000076293945,"y":668.3999853134155,"wires":[]},{"id":"10a8e132a189623a","type":"function","z":"17d65b6695af9309","name":"","func":"var d = new Date();\nvar utc = d.getTime() + (d.getTimezoneOffset()*60000);\nvar offset = 5.49;\nnewDate = new Date(utc + (3600000*offset));\nmsg.payload = {\n    \"message\" : \"Exit\",\n    \"Time\" : newDate.toLocaleString(),\n    \"name\" : 'SAV',\n    \"status\" : \"PlayGround\",\n    'lat': global.get(\"latitude\"),\n    'lon': global.get(\"longitude\"),\n    \"nam\" : global.set('name'),\n    \"sts\" : global.set('status')\n};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"\n","finalize":"","libs":[],"x":293.00000381469727,"y":560.0000085830688,"wires":[["e0c24cda7a9f9243"]]},{"id":"a7b7cf608ade1ce9","type":"geofence","z":"17d65b6695af9309","name":"Home","mode":"circle","inside":"both","rad":15016.009526270147,"points":[],"centre":{"latitude":10.783395622088614,"longitude":79.14413452148436},"floor":"","ceiling":"","worldmap":false,"outputs":1,"x":284,"y":1014.4000244140625,"wires":[["33a90a90e546cbf4"]]},{"id":"a2bcec859fb9c4c2","type":"function","z":"17d65b6695af9309","name":"","func":"msg.payload = msg.location.inarea\nreturn msg;\n//mela uladhu than actual luu\n\n// msg.payload={\n//     'name': global.get('name'),\n//     'lat': global.get('latitude'),\n//     'lon': global.get('longitude')\n// }\n\n// return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":302,"y":1129.7999777793884,"wires":[["8ba32305d38b8141","e6494b66e3c59763"]]},{"id":"8ba32305d38b8141","type":"switch","z":"17d65b6695af9309","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":1196.9999785423279,"wires":[["ac9360506cae513d"],["c82d2d72ac81f51a"]]},{"id":"c82d2d72ac81f51a","type":"function","z":"17d65b6695af9309","name":"","func":"var d = new Date();\nvar utc = d.getTime() + (d.getTimezoneOffset()*60000);\nvar offset = 5.49;\nnewDate = new Date(utc + (3600000*offset));\nmsg.payload = {\n    \"message\" : \"Exit\",\n    \"Time\" : newDate.toLocaleString(),\n    \"name\" : 'SAV',\n    \"status\" : \"Home\",\n    'lat': global.get(\"latitude\"),\n    'lon': global.get(\"longitude\"),\n    \"nam\" : global.set('name'),\n    \"sts\" : global.set('status')\n};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"\n","finalize":"","libs":[],"x":596.0000038146973,"y":1308.9999556541443,"wires":[["e3607b90cb2f5fb2","fa02a71143a0dd82","a5c7d816493bf0f8"]]},{"id":"ac9360506cae513d","type":"function","z":"17d65b6695af9309","name":"","func":"var d = new Date();\nvar utc = d.getTime() + (d.getTimezoneOffset()*60000);\nvar offset = 5.49;\nnewDate = new Date(utc + (3600000*offset));\nmsg.payload = {\n    \"message\" : \"Exit\",\n    \"Time\" : newDate.toLocaleString(),\n    \"name\" : \"SAV\",\n    \"status\" : \"Danger\",\n    \"lat\": global.get('latitude'),\n    \"lon\" : global.get('longitude'),\n    \"nam\" : global.set('name'),\n    \"sts\" : global.set('status')\n};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":592.0000038146973,"y":1151.0000014305115,"wires":[["008b66c1c8133d7e","43a289f62d011444","c09652cc9091854a"]]},{"id":"e3607b90cb2f5fb2","type":"debug","z":"17d65b6695af9309","name":"True OP","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":794.0000534057617,"y":1347.9999556541443,"wires":[]},{"id":"008b66c1c8133d7e","type":"ui_toast","z":"17d65b6695af9309","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"className":"","topic":"HURRY !!! Child is not there ","name":"OUTSIDE MSG","x":786.0000534057617,"y":1090.5999283790588,"wires":[[]]},{"id":"fa02a71143a0dd82","type":"ui_toast","z":"17d65b6695af9309","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"className":"","topic":"CHILL !!! Child is in Home","name":"Home INSIDE MSG","x":806.4000053405762,"y":1254.9999556541443,"wires":[[]]},{"id":"43a289f62d011444","type":"cloudant out","z":"17d65b6695af9309","name":"","cloudant":"cc3cc78235661aa1","database":"child_location","service":"node-red-uwdqt-2022--cloudant-1666058759211-30859","payonly":true,"operation":"insert","x":791.4000053405762,"y":1147.0000023841858,"wires":[]},{"id":"a5c7d816493bf0f8","type":"cloudant out","z":"17d65b6695af9309","name":"","cloudant":"cc3cc78235661aa1","database":"child_location","service":"node-red-uwdqt-2022--cloudant-1666058759211-30859","payonly":true,"operation":"insert","x":793.4000053405762,"y":1305.9999556541443,"wires":[]},{"id":"c09652cc9091854a","type":"debug","z":"17d65b6695af9309","name":"False OP","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":776.4000072479248,"y":1205.9999537467957,"wires":[]},{"id":"33a90a90e546cbf4","type":"rbe","z":"17d65b6695af9309","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":298.40000915527344,"y":1065.9999766349792,"wires":[["a2bcec859fb9c4c2"]]},{"id":"e6494b66e3c59763","type":"debug","z":"17d65b6695af9309","name":"TRUE / FALSE","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":774.0000038146973,"y":1032.7999272346497,"wires":[]},{"id":"54a29dc37bb0f38d","type":"function","z":"17d65b6695af9309","name":"","func":"var d = new Date();\nvar utc = d.getTime() + (d.getTimezoneOffset()*60000);\nvar offset = 5.49;\nnewDate = new Date(utc + (3600000*offset));\nmsg.payload = {\n    \"message\" : \"Exit\",\n    \"Time\" : newDate.toLocaleString(),\n    \"name\" : 'SAV',\n    \"status\" : \"Home\",\n    'lat': global.get(\"latitude\"),\n    'lon': global.get(\"longitude\"),\n    \"nam\" : global.set('name'),\n    \"sts\" : global.set('status')\n};\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"\n","finalize":"","libs":[],"x":298.00000381469727,"y":942.599983215332,"wires":[["a7b7cf608ade1ce9"]]},{"id":"63d0c89133a32847","type":"ibmiot","name":"Child_Location","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"fe4024ee907de35b","type":"ui_group","name":"CHILD'S LOCATION","tab":"130210ae87e5e41e","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"cc3cc78235661aa1","type":"cloudant","host":"https://cloudant.com/api/0ec8ed8b-bd97-4c1b-82d6-baa22bca93fe","name":"Location"},{"id":"130210ae87e5e41e","type":"ui_tab","name":"Map page","icon":"dashboard","disabled":false,"hidden":false}]
